.product-item {
  .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
      height: 5%;
  }

  .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }
}

.cardd{
  width: 700px;
  height: 700px;

}

.img{
  width :100%;
   height: auto ;
   right:0 ;
   transition :all width 4s, height 4s;
    justify-content : center;
    border: hidden;
}

// .img:hover {

  // width: 101%;
  // height: 101%;
// }
h5{
text-align: center;
}
// .carousel{
//   background-image:url('assets/img/Unknown.jpeg');

// }
